# Python
venv/
.venv/
__pycache__/
*.pyc
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log

# AWS credentials
.aws/
credentials

# IDE
.vscode/
.idea/